<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
      <title>D&D Player Primer > {{ title }}</title>
    {% else %}
      <title>D&D Player Primer</title>
    {% endif %}
    {% if description %}
      <meta property="description" content="{{ description }}" />
    {% endif %}
    <link rel="icon" href="/_assets/images/pp.png" />

    <!-- open graph protocol (https://ogp.me) -->
    {% if title %}
      <meta property="og:title" content="D&D Player Primer > {{ title }}" />
    {% else %}
      <meta property="og:title" content="D&D Player Primer" />
    {% endif %}
    {% if description %}
      <meta property="og:description" content="{{ description }}" />
    {% endif %}
    {% if og_image %}
      <meta property="og:image" content="{{ og_image }}" />
    {% else %}
      {% if page.url == "/README/" %}
        <meta property="og:image" content="https://v1.screenshot.11ty.dev/{{
        'https://zuedev.github.io/dnd5e-player-primer/' | url_encode }}/opengraph/" />
      {% else %}
        <meta property="og:image" content="https://v1.screenshot.11ty.dev/{{
        'https://zuedev.github.io/dnd5e-player-primer' | url_encode }}{{page.url | url_encode }}/opengraph/" />
      {% endif %}
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="D&D Player Primer" />
    {% if page.url == "/README/" %}
      <meta property="og:url" content="https://zuedev.github.io/dnd5e-player-primer/" />
    {% else %}
      <meta property="og:url" content="https://zuedev.github.io/dnd5e-player-primer{{ page.url }}" />
    {% endif %}

    <!-- twitter card -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@zuedev" />

    <style>
      /* normalize */
      @import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css");

      /* import MonaspiceXe (Monaspace Xenon) */
      @import url("https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@v3.3.0/build/monaspicexe-nerd-font.css");

      /* set default font */
      html {
        font-family: "MonaspiceXe Nerd Font";
        font-feature-settings: "calt"
        , "liga"
        , "ss01"
        , "ss02"
        , "ss03"
        , "ss04"
        , "ss05"
        , "ss06"
        , "ss07"
        , "ss08";
        font-variation-settings: "calt" 1
        , "liga" 1
        , "ss01" 1
        , "ss02" 1
        , "ss03" 1
        , "ss04" 1
        , "ss05" 1
        , "ss06" 1
        , "ss07" 1
        , "ss08" 1;
        text-align: justify;
      }

      /* hide scrollbar */
      ::-webkit-scrollbar {
        display: none;
      }

      /* contain body */
      body {
        max-width: 666px;
        margin: auto;
      }

      /* default background */
      html {
        background-image: url('{{ background_image | default: "https://media.dndbeyond.com/compendium-images/phb/MKDHZ1nxSXDDLOw2/phb-2024-cover.jpeg" }}');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: {{ background_position | default: "center" }};
      }

      /* paper background */
      main {
        background-color: white;
        background-image: url("https://www.tilingtextures.com/wp-content/uploads/2018/11/0068-1-512x512.jpg");
        background-repeat: repeat;
        background-size: 256px;
        box-shadow: 0 0 0 1px black;
      }

      /* give main some padding */
      main {
        padding: 1rem;
      }

      /* extend main */
      main {
        min-height: 100vh;
      }

      /* remove link decoration */
      a {
        text-decoration: none;
      }

      /* change link colours */
      a {
        color: blue;

         &:visited {
          color: blue;
        }

         &:hover {
          text-decoration: underline;
        }
      }

      /* remove margin from first h1 */
      h1:first-child {
        margin-top: 0;
      }

      /* style tables */
      table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        th,
        td {
          border: 1px solid black;
          padding: 0.5rem;
        }

        th {
          background-color: black;
          color: white;
        }

        tr {
          background-color: white;
        }

        tr:nth-child(even) {
          background-color: #eee;
        }
      }

      nav {
        display: flex;
        justify-content: space-around;
        background-color: black;
        padding: 1rem;
      }

      nav a {
        color: white;

         &:visited {
          color: white;
        }
      }

      nav .dropdown {
        position: relative;
      }

      nav .dropdown span {
        cursor: pointer;
        color: white;
      }

      nav .dropdown span::after {
        content: " ▼";
      }

      nav .dropdown div {
        display: none;
        position: absolute;
        background-color: black;
        padding: 1rem;
        top: 100%;
        left: 0;
        right: 0;
        width: max-content;
      }

      nav .dropdown:hover div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <div class="dropdown">
        <span>Essentials</span>
        <div>
          <a href="/code-of-conduct/">📝 Code of Conduct</a>
          <a href="/rules/">📜 Rules</a>
          <a href="/the-gameplay-loop/">🔄 The Gameplay Loop</a>
        </div>
      </div>
      <div class="dropdown">
        <span>Extras</span>
        <div>
          <a href="/alchemy/">⚗️ Alchemy</a>
        </div>
      </div>
    </nav>
    <main>{{ content }}</main>
  </body>
  <!-- render mermaid diagrams -->
  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
    
    mermaid.initialize({
      startOnLoad: false,
      securityLevel: "loose",
      theme: "base",
      themeVariables: {
        primaryColor: "black",
        primaryBorderColor: "black",
        primaryTextColor: "white",
      },
    });
    
    mermaid.run({
      querySelector: ".language-mermaid",
    });
  </script>
</html>